{% extends 'base.html.twig' %}

{% block body %}

  <a href="{{ path('record_create') }}">Create new record</a>
  <a href="{{ path('logout') }}">Logout</a>

  {% for record in records %}
    {% include '_partial/note.html.twig' with {'record': record} %}
  {% endfor %}

{% endblock %}
