{% extends 'base.html.twig' %}

{% block body %}

  <h1>This is wall</h1>

  {% for record in records %}
    <div class="quote-container">
      <blockquote class="note active">
        {{ record.content }}
      </blockquote>
    </div>
  {% endfor %}


{% endblock %}
