{% extends 'base.html.twig' %}

{% block body %}

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Create new record
  </button>

  <a href="{{ path('logout') }}" class="btn btn-default">Logout</a>

  {% include '_partial/new_note_modal.html.twig' with {'form': form} %}

  {% for record in records %}
    {% include '_partial/note.html.twig' with {'record': record} %}
  {% endfor %}

{% endblock %}
