[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.close-thick:after {
    content: '✖'; /* UTF-8 symbol */
}

.close-thick:hover {
    text-decoration: none;
    color: #ac2925;
    transform: scale(1.1, 1.1);
}

.created-at {
    font: 12px/100% arial, sans-serif;
    color: #5e5e5e;
    position: absolute;
    right: 50px;
    top: 5px;
}